/*=============
About
=============== */
.about-container {
  background: $color-white;
  margin: 5rem 0;

  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .text-container {
    padding: 3rem;
  }

  p {
    line-height: 1.7;
  }

  a {
    display: inline-block;
    padding: 0.5rem 2rem;
    background-color: $color-black;
    color: $color-white;
    border-radius: 10px;
    transition: all 0.5s ease-in-out;

    &:hover,
    &:focus {
      background-color: $color-orange;
    }
  }
}
