/*=============
About
=============== */
.about-container {
  background: $color-white;
  padding-bottom: 5rem;
  z-index: 20;
  display: flex;
  min-height: 100vh;
  min-height: -webkit-fill-available;
  overflow: hidden;

  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
  }

  .svg-container {
    width: 100%;
    height: auto;

    .path1 {
      fill: none;
      stroke: $color-orange;
      stroke-width: 4px;
    }
  }

  .text-container {
    align-self: flex-end;
    border-left: 1px solid $color-black;
    width: 100%;
    padding: 0 2rem;
    opacity: 0;
    transition: all 1s;
    display: flex;
    flex-direction: column;
    transform: translateX(2000px);
    h2 {
      margin-bottom: 1rem;
    }
    a {
      align-self: flex-start;
      margin-top: 1rem;
    }
    &.fade-in {
      transform: translateX(0);
      opacity: 1;
    }
  }

  p {
    margin-bottom: 0.5rem;
  }

  a {
    display: inline-block;
    padding: 0.5rem 2rem;
    font-size: 1rem;
    // border: 2px solid $color-orange;
    background-color: $color-black;
    color: $color-white;

    border-radius: 10px;
    transition: all 0.5s ease-out;

    &:hover,
    &:focus,
    &:active {
      background-color: $color-orange;
      color: $color-white;
    }
  }
}
