/*=============
About
=============== */
.about-container {
  background: $color-white;
  // padding: 5rem 0;
  padding-bottom: 5rem;
  z-index: 20;
  display: flex;
  // align-items: center;
  min-height: 100vh;
  min-height: -webkit-fill-available;
  overflow: hidden;

  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
  }

  .test-container {
    width: 100%;
    height: auto;

    .path1 {
      fill: none;
      stroke: $color-orange;
      stroke-width: 3px;
    }
  }

  .text-container {
    // opacity: 0;
    margin-top: -600px;
    align-self: flex-end;
    width: 50%;
    padding: 0.5rem;
    border: 1px solid red;
    transform: translateX(2000px);
    opacity: 0;
    transition: all 1s;
    display: flex;
    flex-direction: column;

    &.fade-in {
      transform: translateX(0);
      opacity: 1;
    }
  }

  p {
    margin-bottom: 0.5rem;
  }

  a {
    display: inline-block;
    padding: 0.5rem 2rem;
    font-size: 1rem;
    border: 2px solid $color-orange;
    color: $color-black;
    border-radius: 10px;
    transition: all 1s ease-out;

    &:hover,
    &:focus,
    &:active {
      background-color: $color-orange;
      color: $color-white;
    }
  }
}
