/*=============
Media
=============== */

@media (min-width: 533px) {
  header .contents-container {
    height: 124px;
  }

  header .link-bar {
    left: -10px;
  }
}

@media (min-width: 940px) {
  .wrapper {
    width: 80%;
  }

  /*=============
  header
  =============== */
  header {
    .contents-container {
      background-color: inherit;
    }

    .nav-bar {
      justify-content: flex-start;
    }
    .nav-bar .nav-container {
      display: flex;
      align-items: center;
      position: static;
      flex-direction: row;
      background-color: inherit;

      li {
        padding: 0.5rem 1rem;

        &:first-child {
          padding-left: 0;
        }
      }
    }

    .nav-bar.active .nav-container {
      position: static;
      display: flex;
      flex-direction: row;
    }

    .burger-menu {
      display: none;
    }

    .contents-container {
      left: initial;
    }
  }

  /*=============
  Projects
  =============== */

  .projects-container .slide-container {
    // width: 820px;
    width: 840px;
  }

  /*=============
  Contact
  =============== */
  .contact-container .container {
    flex-direction: row;
    .links {
      padding: 0;
      margin: 0;
      border: none;
      margin-left: 3rem;
    }
    li {
      margin-top: 0;
    }
  }
}

@media (min-width: 1300px) {
  header {
    background-position: left top;
  }

  .skills {
    h2 {
      margin-bottom: 0;
    }

    ul {
      padding: 2.5rem 5rem;

      li {
        margin: 2rem;
      }
    }
  }

  .projects-container .slide-container {
    // width: 1240px;
    width: 1260px;
  }
}
