// @media (min-width: 820px) {

// }

@media (min-width: 940px) {
  .wrapper {
    width: 90%;
  }
  header {
    .contents-container {
      background-color: inherit;
    }
    .nav-bar .nav-container {
      display: flex;
      position: static;
      flex-direction: row;
      background-color: inherit;
    }

    .nav-bar.active .nav-container {
      position: static;
      display: flex;
      flex-direction: row;
    }

    .burger-menu {
      display: none;
    }
  }

  .projects-container .slide-container {
    width: 820px;
  }

  .contact-container .container {
    flex-direction: row;
    .links {
      padding: 0;
      margin: 0;
      border: none;
      margin-left: 3rem;
    }
    li {
      margin-top: 0;
    }
  }
}

@media (min-width: 1300px) {
  header {
    background-position: left top;
  }
  .skills ul {
    padding: 5rem;

    li {
      margin: 2rem;
    }
  }

  .projects-container .slide-container {
    width: 1240px;
  }
}
