.projects-container {
  background-color: $color-white;
  position: relative;
  z-index: 20;
  display: flex;
  background-color: gray;

  width: 90%;
  height: 800px;
  overflow: hidden;
  // border: 1px solid blue;

  h2 {
    margin: 2rem 0;
    display: block;
  }

  h3 {
    margin-bottom: 1rem;
    margin-top: 1rem;
  }

  p {
    color: $color-black;
    line-height: 1.2;
  }
  img {
    display: block;
    // height: 151px;
  }
  .test-container {
    width: 50%;
    height: 100%;
    background-color: red;
    color: white;
  }

  .wheel-container {
    position: absolute;
    left: 100%;
    top: 50%;
    width: 450px;
    height: 450px;
    // background-color: blue;
    transform: translate(-50%, -50%);
    margin-left: 75px;
    transition: all 0.5s;
  }

  .project {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: $color-lightgray;

    // width: 200px;
    // height: 200px;
    width: 50%;
    height: 50%;

    opacity: 0.5;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: #0000003b 10px 5px 7px;
    transition: all 0.5s;

    .top-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
    }

    &.selected {
      // width: 400px;
      // height: 370px;
      width: 100%;
      height: 100%;
      opacity: 1;
      z-index: 9999;
    }
  }

  .skill-set {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    border-radius: 10px;
    padding: 0.5rem;

    img {
      width: 30px;
      height: 30px;

      filter: invert(34%) sepia(5%) saturate(363%) hue-rotate(104deg)
        brightness(85%) contrast(84%);

      &:not(:last-child) {
        margin-right: 15px;
      }
    }
  }

  .img-container {
    width: 80%;
    height: fit-content;
    border-radius: 10px;
    cursor: pointer;
    border: 10px solid #565656;
    border-radius: 5px;
  }

  .description {
    opacity: 0;
    display: none;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 0;
    // width: 500px;
    transition: all 0.5s;
    padding: 0 1rem;
    height: 80%;
    background-color: $color-lightgray;
    color: $color-white;

    .link-container {
      display: flex;
      justify-content: space-between;
      width: 70%;
      margin-top: 1rem;
    }
    a {
      display: inline-block;
      padding: 0.3rem 1.5rem;
      border-radius: 5px;
      border: 2px solid $color-black;
      transition: all 0.5s ease-out;
      color: $color-black;
      margin-bottom: 1rem;

      &:hover,
      &:focus,
      &:active {
        background-color: $color-orange;
        border: 2px solid $color-orange;
        color: $color-white;
      }
    }
  }
  .controls {
    position: absolute;
    right: 0;
    top: 350px;
    transform: rotate(90deg);
    border: 1px solid red;
  }
  .controls button {
    padding: 0.3rem 0.5rem;
    border-radius: 50px;
    border-style: none;
    font-size: 0.9rem;
    background-color: inherit;
    cursor: pointer;
    color: $color-black;
    transition: all 0.5 ease-in-out;

    &:hover,
    &:focus,
    &:active {
      transform: scale(1.1);
      color: $color-orange;
    }
  }
}
