.skills {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 700px;
  border: 1px solid blue;

  h2 {
    margin: 2rem 0;
  }

  p {
    line-height: 1;
  }
  ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  li {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100px;
    height: 106px;
    margin: 1rem;
    cursor: pointer;
    transition: all 0.7s;

    &:hover,
    &:focus {
      filter: invert(29%) sepia(38%) saturate(5331%) hue-rotate(5deg)
        brightness(107%) contrast(101%);
    }
  }

  ul li img {
    width: 50px;
    height: 50px;
    margin-bottom: 0.5rem;
  }
}
