/*=============
Variables
=============== */
$color-gray: #b2b2b2;
$color-lightgray: #f4f4f4;
$color-black: #3c3c3c;
$color-white: #ffffff;
$color-orange: #ff4500;

// $bg-color-g"ray: rgba(140, 138, 138, 0.25);
// $bg-color-gray: rgb(220, 220, 220);

$base-font: "Dosis", sans-serif;
$sub-font: "Source Sans Pro", sans-serif;

// #DDDDDD - gray
// #3C3C3C/404040????  - black
// #FFFFFF - white
