// #DDDDDD - gray
// #3C3C3C/404040????  - black
// #FFFFFF - white

// font-family: 'Dosis', sans-serif;

// font-family: 'Source Sans Pro', sans-serif;
/*=============
Variables
=============== */
$color-gray: #8c8a8a;
$color-black: #3c3c3c;
$color-white: #ffffff;

// $bg-color-g"ray: rgba(140, 138, 138, 0.25);
// $bg-color-gray: rgb(220, 220, 220);

$base-font: "Dosis", sans-serif;
$sub-font: "Source Sans Pro", sans-serif;
