/*=============
Variables
=============== */
$color-gray: #b2b2b2;
$color-lightgray: #f4f4f4;
$color-black: #3c3c3c;
$color-white: #ffffff;
$color-orange: #ff4500;

$base-font: "Dosis", sans-serif;
$sub-font: "Source Sans Pro", sans-serif;
