html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption,
figure,
main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: inherit;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details,
menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*=============
Variables
=============== */
/*=============
General
=============== */
html {
  font-size: 125%;
  color: #3c3c3c;
  scroll-behavior: smooth;
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
}

body,
ul,
h1,
h2,
h3,
h4,
p,
a {
  padding: 0;
  margin: 0;
}

.wrapper {
  max-width: 1300px;
  width: 95%;
  margin: 0 auto;
}

/*=============
Fonts
=============== */
h1,
h2,
h3,
h4 {
  font-family: "Dosis", sans-serif;
  font-weight: 400;
  letter-spacing: 8px;
  text-transform: uppercase;
}

p,
button,
input,
textarea {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
}

header p {
  letter-spacing: 6px;
}

a {
  font-family: "Dosis", sans-serif;
  color: #3c3c3c;
  text-decoration: none;
  font-size: 1.3rem;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 1.8rem;
}

h3 {
  font-size: 1.2rem;
  letter-spacing: 5px;
}

h4 {
  font-size: 1rem;
  letter-spacing: 2px;
  margin-bottom: 0.5rem;
}

p {
  font-size: 0.9rem;
  letter-spacing: 1px;
  line-height: 1.7;
}

.nav-bar a {
  font-size: 1rem;
}

/*=============
Header
=============== */
header {
  background: url("../../images/header/profile_edit_Crop.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 71%;
  height: 100vh;
  position: relative;
}
header .link-bar {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  left: -15px;
  bottom: 0;
  z-index: 10;
}
header .link-bar a {
  display: inline-block;
  padding: 0.5rem 1rem;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
header .link-bar a:hover, header .link-bar a:focus, header .link-bar a:active {
  color: #ff4500;
}
header .link-bar .animation-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  border-style: none;
  color: #ff4500;
  background-color: transparent;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
header .link-bar .animation-btn.animate {
  -webkit-animation: movingAnimation 2s linear infinite;
          animation: movingAnimation 2s linear infinite;
}
header .link-bar .animation-btn i {
  font-size: 1.2rem;
}
header .link-bar .line-decoration {
  width: 1px;
  height: 80px;
  background-color: black;
}
header .link-bar i {
  font-size: 1rem;
  margin: 0.5rem;
}
header .link-bar p {
  font-size: 0.8rem;
  letter-spacing: 0;
}
header .contents-container {
  padding: 1rem;
  background-color: #ffffff;
  opacity: 0.9;
  border-radius: 5px;
  z-index: 20;
  position: absolute;
  top: 45%;
  left: 15%;
  height: 185px;
}
header .nav-bar {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: relative;
}
header .nav-bar .nav-container {
  position: absolute;
  left: -100%;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  background-color: #ffffff;
}
header .nav-bar.active .nav-container {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  left: -20px;
  top: 0;
}
header .nav-bar a {
  display: inline-block;
  margin: 0.5rem 1rem;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  position: relative;
}
header .nav-bar a::before {
  content: "";
  position: absolute;
  bottom: -5px;
  width: 0%;
  height: 2px;
  background-color: #ff4500;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
header .nav-bar a:hover::before, header .nav-bar a:focus::before, header .nav-bar a:active::before {
  color: #ff4500;
  width: 100%;
}
header .burger-menu {
  border-style: none;
  background-color: inherit;
  font-size: 1.5rem;
  padding: 0.5rem;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  cursor: pointer;
}
header .burger-menu:hover, header .burger-menu:focus, header .burger-menu:active {
  color: #ff4500;
}
header .scroll-up-btn {
  position: fixed;
  right: 10px;
  bottom: 10px;
  border-style: none;
  border-radius: 50%;
  padding: 0.25rem 0.5rem;
  background-color: #3c3c3c;
  color: #ffffff;
  font-size: 1.3rem;
  z-index: 30;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
header .scroll-up-btn:hover, header .scroll-up-btn:focus, header .scroll-up-btn:active {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
  background-color: orangered;
}
header li {
  padding: 0.5rem 1rem;
}
header p {
  color: #ff4500;
}
@-webkit-keyframes movingAnimation {
  0% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  50% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
}
@keyframes movingAnimation {
  0% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  50% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
}

/*=============
About
=============== */
.about-container {
  background: #ffffff;
  padding: 5rem 0;
  z-index: 20;
}
.about-container .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
.about-container .text-container {
  margin: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
.about-container .text-container::before {
  content: "";
  width: 5px;
  height: 100%;
  background-color: #ff4500;
  position: absolute;
  left: -1rem;
}
.about-container p {
  margin-bottom: 0.5rem;
}
.about-container a {
  display: inline-block;
  padding: 0.5rem 2rem;
  margin-top: 1rem;
  font-size: 1rem;
  background-color: #3c3c3c;
  color: #ffffff;
  border-radius: 10px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.about-container a:hover, .about-container a:focus, .about-container a:active {
  background-color: #ff4500;
}

.projects-container {
  background-color: #ffffff;
  text-align: center;
  padding: 5rem 0;
  z-index: 20;
}
.projects-container .wrapper {
  width: 100%;
}
.projects-container h2 {
  margin-bottom: 0.5rem;
}
.projects-container h3 {
  margin-bottom: 1rem;
  margin-top: 1rem;
}
.projects-container p {
  color: #3c3c3c;
  line-height: 1.2;
}
.projects-container img {
  display: block;
  height: 151px;
}
.projects-container .slide-container {
  position: relative;
  width: 400px;
  min-height: 400px;
  overflow: hidden;
  margin: 2rem auto;
}
.projects-container .image-slide {
  position: absolute;
  top: 0;
  left: 0;
}
.projects-container .image-slide.animated {
  -webkit-transition: 0.5s ease-out;
  transition: 0.5s ease-out;
}
.projects-container .project {
  background-color: #f4f4f4;
  border-radius: 10px;
  width: 400px;
  height: 370px;
  float: left;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: #0000003b 10px 5px 7px;
          box-shadow: #0000003b 10px 5px 7px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.projects-container .project .top-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
}
.projects-container .project:hover .description, .projects-container .project:focus .description, .projects-container .project:active .description {
  bottom: 0;
  opacity: 1;
}
.projects-container .project:not(:last-child) {
  margin-right: 20px;
}
.projects-container .skill-set {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 1rem;
  border-radius: 10px;
  padding: 0.5rem;
}
.projects-container .skill-set img {
  width: 30px;
  height: 30px;
  -webkit-filter: invert(34%) sepia(5%) saturate(363%) hue-rotate(104deg) brightness(85%) contrast(84%);
          filter: invert(34%) sepia(5%) saturate(363%) hue-rotate(104deg) brightness(85%) contrast(84%);
}
.projects-container .skill-set img:not(:last-child) {
  margin-right: 15px;
}
.projects-container .img-container {
  width: 80%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border-radius: 10px;
  cursor: pointer;
  border: 10px solid #565656;
  border-radius: 5px;
}
.projects-container .description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  bottom: -100px;
  opacity: 0;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  padding: 0 1rem;
  height: 80%;
  background-color: #f4f4f4;
  color: #ffffff;
}
.projects-container .description .link-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 70%;
  margin-top: 1rem;
}
.projects-container .description a {
  display: inline-block;
  padding: 0.3rem 1.5rem;
  border-radius: 5px;
  border: 2px solid #3c3c3c;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  color: #3c3c3c;
  margin-bottom: 1rem;
}
.projects-container .description a:hover, .projects-container .description a:focus, .projects-container .description a:active {
  background-color: #ff4500;
  border: 2px solid #ff4500;
  color: #ffffff;
}
.projects-container .controls button {
  padding: 0.3rem 0.5rem;
  border-radius: 50px;
  border-style: none;
  font-size: 0.9rem;
  background-color: inherit;
  cursor: pointer;
  color: #3c3c3c;
  -webkit-transition: all 0.5 ease-in-out;
  transition: all 0.5 ease-in-out;
}
.projects-container .controls button:hover, .projects-container .controls button:focus, .projects-container .controls button:active {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  color: #ff4500;
}

.skills {
  background-color: #f4f4f4;
  padding: 5rem 0;
  text-align: center;
}
.skills h2 {
  margin-bottom: 1.5rem;
}
.skills p {
  line-height: 1;
}
.skills ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.skills li {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100px;
  height: 106px;
  margin: 1rem;
  cursor: pointer;
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
}
.skills li:hover, .skills li:focus {
  -webkit-filter: invert(29%) sepia(38%) saturate(5331%) hue-rotate(5deg) brightness(107%) contrast(101%);
          filter: invert(29%) sepia(38%) saturate(5331%) hue-rotate(5deg) brightness(107%) contrast(101%);
}
.skills ul li img {
  width: 50px;
  height: 50px;
  margin-bottom: 0.5rem;
}

/*=============
Contact
=============== */
.contact-container {
  background-color: #f4f4f4;
  text-align: center;
  padding: 5rem 0 2rem 0;
  position: relative;
  z-index: 20;
}
.contact-container .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 3rem;
}
.contact-container form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.contact-container form .input-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 1rem;
}
.contact-container form .input-container input {
  width: 50%;
  padding: 0.5rem;
  border-radius: 5px;
  border: 3px solid #b2b2b2;
}
.contact-container form .input-container input:last-child {
  margin-left: 1rem;
}
.contact-container form textarea {
  width: 100%;
  height: 250px;
  resize: none;
  padding: 0.5rem;
  margin-bottom: 2rem;
  border-radius: 5px;
  border: 3px solid #b2b2b2;
}
.contact-container form button {
  -ms-flex-item-align: start;
      align-self: flex-start;
  border-style: none;
  padding: 0.5rem 2rem;
  border-radius: 5px;
  cursor: pointer;
  background-color: #3c3c3c;
  color: #ffffff;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.contact-container form button:hover, .contact-container form button:focus {
  background-color: #ff4500;
}
.contact-container .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 2rem;
  margin-top: 2rem;
  border-top: 1px solid #3c3c3c;
}
.contact-container .links li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 1rem;
  margin-bottom: 2rem;
}
.contact-container .links .info-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-left: 1rem;
}
.contact-container .links .info-container a {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1rem;
}
.contact-container .links i {
  padding: 1rem;
  border-radius: 10px;
  color: #ffffff;
  background-color: #3c3c3c;
}

footer {
  background-color: #ffffff;
  padding: 0.5rem;
  position: relative;
  z-index: 20;
}
footer p {
  font-size: 0.8rem;
  text-align: center;
}

/*=============
Media
=============== */
@media (min-width: 533px) {
  header .contents-container {
    height: 124px;
  }

  header .link-bar {
    left: -10px;
  }
}
@media (min-width: 940px) {
  .wrapper {
    width: 80%;
  }

  /*=============
  header
  =============== */
  header .contents-container {
    background-color: inherit;
  }
  header .nav-bar {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  header .nav-bar .nav-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: static;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    background-color: inherit;
  }
  header .nav-bar .nav-container li {
    padding: 0.5rem 1rem;
  }
  header .nav-bar .nav-container li:first-child {
    padding-left: 0;
  }
  header .nav-bar.active .nav-container {
    position: static;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  header .burger-menu {
    display: none;
  }
  header .scroll-up-btn {
    right: 30px;
    bottom: 30px;
  }
  header .contents-container {
    left: initial;
  }

  /*=============
  Projects
  =============== */
  .projects-container .slide-container {
    width: 840px;
  }

  /*=============
  Contact
  =============== */
  .contact-container .container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .contact-container .container .links {
    padding: 0;
    margin: 0;
    border: none;
    margin-left: 3rem;
  }
  .contact-container .container li {
    margin-top: 0;
  }
}
@media (min-width: 1300px) {
  header {
    background-position: left top;
  }

  .skills h2 {
    margin-bottom: 0;
  }
  .skills ul {
    padding: 2.5rem 5rem;
  }
  .skills ul li {
    margin: 2rem;
  }

  .projects-container .slide-container {
    width: 1260px;
  }
}