html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption,
figure,
main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: inherit;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details,
menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*=============
Variables
=============== */
/*=============
General
=============== */
html {
  font-size: 125%;
  color: #3c3c3c;
  scroll-behavior: smooth;
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
}

body,
ul,
h1,
h2,
h3,
h4,
p,
a {
  padding: 0;
  margin: 0;
}

.wrapper {
  max-width: 1300px;
  width: 95%;
  margin: 0 auto;
}

/*=============
Fonts
=============== */
h1,
h2,
h3,
h4 {
  font-family: "Dosis", sans-serif;
  font-weight: 400;
  letter-spacing: 8px;
  text-transform: uppercase;
}

p,
button,
input,
textarea {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
}

header p {
  letter-spacing: 6px;
}

a {
  font-family: "Dosis", sans-serif;
  color: #3c3c3c;
  text-decoration: none;
  font-size: 1.3rem;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 1.8rem;
}

h3 {
  font-size: 1.2rem;
  letter-spacing: 5px;
}

h4 {
  font-size: 1rem;
  letter-spacing: 2px;
  margin-bottom: 0.5rem;
}

p {
  font-size: 0.9rem;
  letter-spacing: 1px;
  line-height: 1.7;
}

.nav-bar a {
  font-size: 1rem;
}

/*=============
Header
=============== */
header {
  background: url("../../images/header/profile_edit_Crop.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 71%;
  height: 100vh;
  position: relative;
}

header .link-bar {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  left: -15px;
  bottom: 0;
  z-index: 10;
}

header .link-bar a {
  display: inline-block;
  padding: 0.5rem 1rem;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

header .link-bar a:hover, header .link-bar a:focus, header .link-bar a:active {
  color: #ff4500;
}

header .link-bar .animation-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  border-style: none;
  color: #ff4500;
  background-color: transparent;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

header .link-bar .animation-btn.animate {
  -webkit-animation: movingAnimation 2s linear infinite;
          animation: movingAnimation 2s linear infinite;
}

header .link-bar .animation-btn i {
  font-size: 1.2rem;
}

header .link-bar .line-decoration {
  width: 1px;
  height: 80px;
  background-color: black;
}

header .link-bar i {
  font-size: 1rem;
  margin: 0.5rem;
}

header .link-bar p {
  font-size: 0.8rem;
  letter-spacing: 0;
}

header .contents-container {
  padding: 1rem;
  background-color: #ffffff;
  opacity: 1;
  border-radius: 5px;
  z-index: 20;
  position: absolute;
  top: 45%;
  left: 15%;
  height: 185px;
}

header .nav-bar {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: fixed;
  left: 0;
  z-index: 1000;
  background-color: inherit;
}

header .nav-bar button.burger-menu {
  margin-right: 0.5rem;
}

header .nav-bar li.horizontal-underline {
  position: absolute;
  background-color: #ff4500;
  top: 43px;
  left: 40px;
  width: 46px;
  height: 2px;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
  padding: 0;
}

header .nav-bar .nav-container {
  position: absolute;
  left: -100%;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .nav-bar.active .nav-container {
  border: 1px solid red;
  left: -20px;
  top: 0;
}

header .nav-bar a.resume {
  padding: 0.25rem 0.5rem;
  border: 2px solid #ff4500;
}

header .nav-bar a.resume:hover, header .nav-bar a.resume:focus, header .nav-bar a.resume:active {
  border-radius: 50px;
}

header .nav-bar a {
  display: inline-block;
  margin: 0.5rem 1rem;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  position: relative;
}

header .nav-bar a:hover, header .nav-bar a:focus, header .nav-bar a:active {
  color: #ff4500;
}

header .burger-menu {
  border-style: none;
  background-color: inherit;
  font-size: 1.5rem;
  padding: 0.5rem;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  cursor: pointer;
}

header .burger-menu:hover, header .burger-menu:focus, header .burger-menu:active {
  color: #ff4500;
}

header .scroll-up-btn {
  position: fixed;
  right: 10px;
  bottom: 10px;
  border-style: none;
  border-radius: 50%;
  padding: 0.25rem 0.5rem;
  background-color: #3c3c3c;
  color: #ffffff;
  font-size: 1.3rem;
  z-index: 30;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

header .scroll-up-btn:hover, header .scroll-up-btn:focus, header .scroll-up-btn:active {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
  background-color: orangered;
}

header li {
  padding: 0.5rem 1rem;
}

header li:nth-child(5) {
  padding: 0;
}

header p {
  color: #ff4500;
}

@-webkit-keyframes movingAnimation {
  0% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  50% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
}

@keyframes movingAnimation {
  0% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  50% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
}

.filter-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
  min-height: -webkit-fill-available;
  padding-top: 5rem;
}

.filter-container [data-content] {
  display: none;
}

.filter-container .active[data-content] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.filter-container .btn-container {
  position: relative;
  background: transparent;
  border: 1px solid #ff4500;
  border-radius: 50px;
  margin: 2rem 0;
}

.filter-container .btn-container button {
  border-style: none;
  outline: none;
  background: transparent;
  width: 150px;
  height: auto;
  padding: 0.5rem 1rem;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.filter-container .btn-container button.active-btn {
  color: white;
}

.filter-container .active-box {
  position: absolute;
  left: 0;
  width: 150px;
  height: 100%;
  z-index: -10;
  background-color: #ff4500;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  border-radius: 50px;
}

/*=============
About
=============== */
.about-container {
  background: #ffffff;
  padding: 5rem 0;
  z-index: 20;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  min-height: -webkit-fill-available;
}

.about-container .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.about-container .test-container {
  width: 100%;
  height: auto;
}

.about-container .test-container .path1 {
  fill: none;
  stroke: #ff4500;
  stroke-width: 3px;
}

.about-container .path2-container {
  width: 100%;
  height: 100%;
}

.about-container .path2-container .path2 {
  fill: none;
  stroke: #ff4500;
  stroke-width: 3px;
}

.about-container .text-container {
  margin-top: -800px;
  -ms-flex-item-align: end;
      align-self: flex-end;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.about-container p {
  margin-bottom: 0.5rem;
}

.about-container a {
  display: inline-block;
  padding: 0.5rem 2rem;
  font-size: 1rem;
  border: 2px solid #ff4500;
  color: #3c3c3c;
  border-radius: 10px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.about-container a:hover, .about-container a:focus, .about-container a:active {
  background-color: #ff4500;
  color: #ffffff;
}

.projects-container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 700px;
  overflow: hidden;
}

.projects-container h3 {
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.projects-container p {
  color: #3c3c3c;
  line-height: 1.2;
}

.projects-container img {
  display: block;
  width: 100%;
  height: 100%;
}

.projects-container .wheel-container {
  position: absolute;
  left: 50%;
  top: 0;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.projects-container .project {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 0.4;
  width: 450px;
  height: 600px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.projects-container .project h3,
.projects-container .project .skill-set {
  opacity: 0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.projects-container .project .circle {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.projects-container .project .circle::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  background-color: #b5daa4;
  -webkit-clip-path: circle(140px at center);
          clip-path: circle(140px at center);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.projects-container .project .top-container {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.projects-container .project.selected {
  width: 380px;
  height: 600px;
  opacity: 1;
  z-index: 100;
}

.projects-container .project.selected h3,
.projects-container .project.selected .skill-set {
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
  opacity: 1;
}

.projects-container .project.selected .circle::before {
  background-color: #f4f4f4;
  -webkit-box-shadow: 15px 15px 21px -9px rgba(84, 81, 81, 0.55);
          box-shadow: 15px 15px 21px -9px rgba(84, 81, 81, 0.55);
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
  -webkit-clip-path: circle(480px at center);
          clip-path: circle(480px at center);
}

.projects-container .project.selected .top-container {
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
  width: 400px;
  top: 30%;
}

.projects-container .project.selected .description {
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
  opacity: 1;
  top: 77%;
}

.projects-container .skill-set {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0.5rem 0;
  padding: 0.5rem;
}

.projects-container .skill-set li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
}

.projects-container .skill-set li:not(:last-child) {
  margin-right: 15px;
}

.projects-container .skill-set img {
  width: 30px;
  height: 30px;
  -webkit-filter: invert(34%) sepia(5%) saturate(363%) hue-rotate(104deg) brightness(85%) contrast(84%);
          filter: invert(34%) sepia(5%) saturate(363%) hue-rotate(104deg) brightness(85%) contrast(84%);
}

.projects-container .img-container {
  width: 300px;
  height: auto;
  border-radius: 10px;
  border: 10px solid #565656;
  border-radius: 5px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.projects-container .description {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  width: 350px;
  height: 250px;
  padding: 0 1rem;
  text-align: center;
}

.projects-container .description .link-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  margin-top: 1rem;
}

.projects-container .description a {
  display: inline-block;
  padding: 0.3rem 1.5rem;
  border-radius: 5px;
  border: 2px solid #3c3c3c;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  color: #3c3c3c;
  margin-bottom: 1rem;
}

.projects-container .description a:hover, .projects-container .description a:focus, .projects-container .description a:active {
  background-color: #ff4500;
  border: 2px solid #ff4500;
  color: #ffffff;
}

.projects-container .controls {
  position: absolute;
  top: 50px;
  border: 1px solid red;
}

.projects-container .controls button {
  padding: 0.3rem 0.5rem;
  border-radius: 50px;
  border-style: none;
  font-size: 0.9rem;
  background-color: inherit;
  cursor: pointer;
  color: #3c3c3c;
  -webkit-transition: all 0.5 ease-in-out;
  transition: all 0.5 ease-in-out;
}

.projects-container .controls button:hover, .projects-container .controls button:focus, .projects-container .controls button:active {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  color: #ff4500;
}

.skills {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 700px;
}

.skills p {
  line-height: 1;
}

.skills ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 3.5rem;
}

.skills li {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100px;
  height: 106px;
  margin: 1rem;
  cursor: pointer;
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
}

.skills li:hover, .skills li:focus {
  -webkit-filter: invert(29%) sepia(38%) saturate(5331%) hue-rotate(5deg) brightness(107%) contrast(101%);
          filter: invert(29%) sepia(38%) saturate(5331%) hue-rotate(5deg) brightness(107%) contrast(101%);
}

.skills ul li img {
  width: 50px;
  height: 50px;
  margin-bottom: 0.5rem;
}

/*=============
Contact
=============== */
.contact-container {
  background-color: #ffffff;
  text-align: center;
  padding: 5rem 0 2rem 0;
  position: relative;
  z-index: 20;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
  min-height: -webkit-fill-available;
}

.contact-container .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 3rem;
}

.contact-container form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact-container form .input-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 1rem;
}

.contact-container form .input-container input {
  width: 50%;
  padding: 0.5rem;
  border-radius: 5px;
  border: 3px solid #b2b2b2;
}

.contact-container form .input-container input:last-child {
  margin-left: 1rem;
}

.contact-container form textarea {
  width: 100%;
  height: 250px;
  resize: none;
  padding: 0.5rem;
  margin-bottom: 2rem;
  border-radius: 5px;
  border: 3px solid #b2b2b2;
}

.contact-container form button {
  -ms-flex-item-align: start;
      align-self: flex-start;
  border-style: none;
  padding: 0.5rem 2rem;
  border-radius: 5px;
  cursor: pointer;
  background-color: #3c3c3c;
  color: #ffffff;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.contact-container form button:hover, .contact-container form button:focus {
  background-color: #ff4500;
}

.contact-container .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 2rem;
  margin-top: 2rem;
  border-top: 1px solid #3c3c3c;
}

.contact-container .links li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.contact-container .links .info-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-left: 1rem;
}

.contact-container .links .info-container a {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1rem;
}

.contact-container .links i {
  padding: 1rem;
  border-radius: 10px;
  color: #ffffff;
  background-color: #3c3c3c;
}

footer {
  background-color: #f4f4f4;
  padding: 0.5rem;
  position: relative;
  z-index: 20;
}

footer p {
  font-size: 0.8rem;
  text-align: center;
}

/*=============
Media
=============== */
@media (min-width: 533px) {
  header .contents-container {
    height: 124px;
  }
  header .link-bar {
    left: -10px;
  }
}

@media (min-width: 940px) {
  .wrapper {
    width: 80%;
  }
  /*=============
  header
  =============== */
  header {
    background-attachment: fixed;
  }
  header .contents-container {
    background-color: inherit;
  }
  header .nav-bar {
    position: fixed;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding-left: 250px;
    z-index: 9999;
  }
  header .nav-bar .nav-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: static;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    background-color: inherit;
  }
  header .nav-bar .nav-container li:first-child {
    padding-left: 0;
  }
  header .nav-bar .nav-container li.horizontal-underline {
    top: 50px;
    left: 270px;
    width: 46px;
  }
  header .burger-menu {
    display: none;
  }
  header .scroll-up-btn {
    right: 30px;
    bottom: 30px;
  }
  header .contents-container {
    left: initial;
  }
  /*=============
  Projects
  =============== */
  .projects-container .project.selected {
    width: 700px;
    height: 400px;
    opacity: 1;
    z-index: 100;
  }
  .projects-container .project.selected .top-container {
    left: 25%;
    top: 50%;
  }
  .projects-container .project.selected .description {
    top: 59%;
    left: 73%;
  }
  /*=============
  Contact
  =============== */
  .contact-container .container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .contact-container .container .links {
    padding: 0;
    margin: 0;
    border: none;
    margin-left: 3rem;
  }
  .contact-container .container li {
    margin-top: 0;
  }
}

@media (min-width: 1300px) {
  header {
    background-position: left top;
  }
  .skills h2 {
    margin-bottom: 0;
  }
  .skills ul li {
    margin: 2rem;
  }
}
